[submodule "themes/hugo-dusk"]
	path = themes/hugo-dusk
	url = https://github.com/gyorb/hugo-dusk.git
[submodule "public"]
	path = public
	url = git@github.com:jlindsay90/jlindsay90.github.io.git
	branch = master
