{{ partial "header" . }}

<section>
    <h4>About Me</h4>
    <ul>
    <li>Multi-faceted individual who enjoys learning new things and going places</li>
    <li>Active, personable, adventurous, animated</li>
    <li>Software developer interested in natural language understanding</li>
    </ul>
</section>

<section>
    <h4>Professional</h4>
    <blockquote>
    Currently available for hire!
    Check out my <a href="https://www.cs.rit.edu/~jal3040/files/JoshuaLindsay-Resume.pdf">resume</a>.
    </blockquote>
    <ul>
    <li>Software developer in the San Francisco Bay Area</li>
    <li>B.S. Computer Science from the Rochester Institute of Technology</li>
    <li>Concentrations in Graph Theory, PL Theory, and Russian Language</li>
    <li>Previous employers
        <ul>
        <li><a href="https://lendup.com/">LendUp</a></li>
        <li><a href="https://lab126.com/">Amazon Lab126</a></li>
        <li><a href="https://hotpads.com">HotPads</a> (of <a href="https://zillowgroup.com">Zillow Group</a>)</li>
        <li><a href="https://bn.co">Brand Networks</a></li>
        </ul>
    </li>
    </ul>
</section>

<section>
    <h4>Philosophy</h4>
    <blockquote>"When was the last time you did something for the first time?"</blockquote>
    <p>
    This is a quote I cherish and live by.
    Every day contains a new experience, an engaging conversation, a new revelation.
    Seeking and appreciating them are what keep me going.
    </p>
</section>

<section>
    <h4>Interests</h4>
    <ul>
        <li>Swimming, Running, Physical Activity</li>
        <li>Linguistics and Slavic languages</li>
        <li>League Poolplaying (APA, BCA)</li>
        <li>Hacking, Tinkering, Electronics, Technology</li>
    </ul>
</section>

{{ partial "footer" . }}
